# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*.yy.c
*~
*.tab.c
*.tab.h
rixc
ritc
rix_temp_file.rit
*.output

out.c
out.h
out.sh

# Misc
*.swp
*.rit.*
.idea
