(1<2) && (2<3) == True
(1<2) || (2>3) == True
(1>2) || (2<3) == True
(1>2) || (2>3) == False
(1<2) && (2>3) == False
(1>2) && (2<3) || (3>4) == False
