1 > 2 = False
2 > 1 = True
1 < 2 = True
2 < 1 = False
3 == 2 = False
3 == 3 = True
1.0 > 2.0 = False
2.0 > 1.0 = True
1.0 < 2.0 = True
2.0 < 1.0 = False
3.0 == 2.0 = False
3.0 == 3.0 = True
1 is less than 3
quadruple if TTTT
1<>2 = Lesser
1<>1 = Equal
1<>0 = Greater
1.0<>2.0 = Lesser
1.0<>1.0 = Equal
1.0<>0.0 = Greater
