a = 13
b = 17
addition = 30
subtraction = -4
multiplication = 221
division = 0
exponent = 1645991757
reassign = 9
copyValues = 17
precedenceA = 15
precedenceB = 21
